---
// Importing necessary components
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Dawning+of+a+New+Day&family=Julius+Sans+One&family=Junge&family=Montserrat&family=Neucha&family=Nothing+You+Could+Do&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap" rel="stylesheet">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <style>
    .hero-image {
      /* Adjust the path to your hero image accordingly */
      background-image: url('/homepage-image.jpg');
      height: 100vh; /* Make hero image cover the full screen */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative; /* Allows absolute positioning within */
    }
    .top-right-nav {
      position: absolute;
      top: 0;
      right: 0;
      margin: 20px; /* Adjust based on desired spacing from the corners */
      color: white;
	  font-family: 'Urbanist';
	  font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .top-right-nav a {
      margin-left: 40px; /* Space between links */
      text-decoration: none;
      color: white; /* Adjust if needed to ensure visibility */
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
      color: white;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hero-text {
      text-align: center;
	  /* font-family: 'Bad Script'; */
	  /* font-family: 'Zeyada'; */
	  /* font-family: 'Dawning of a New Day'; */
	  font-family: 'Nothing You Could Do';
      font-size: 4.2em;
    }
	.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px; /* Adjust based on desired spacing from the corners */
	}
	.logo-container img {
		height: 50px; /* Adjust based on your logo's size */
		width: auto;
	}

  </style>
</head>
<body>
	
  <div class="hero-image">
	<div class="logo-container">
        <!-- Replace 'path_to_your_logo.png' with your actual logo path -->
        <a href="/"><img src="/atlas2.png" alt="Logo" /></a>
    </div>
    <nav class="top-right-nav">
        <!-- Ensure the href attributes point to the right routes -->
        <a href="/blog">BLOG</a> 
        <a href="/reviews">TRAVEL TIPS</a> 
        <a href="/articles">ARTICLES</a> 
        <a href="/travel">REVIEWS</a> 
        <a href="/about">ABOUT</a>
    </nav>
    <div class="overlay">
        <div class="hero-text">
            Wild Atlas
        </div>
    </div>
  </div>

  <Footer />
</body>
</html>