---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Nav from '../../components/Nav.astro';
import MasonryLayout from '../../components/MasonryLayout.astro';
import ListLayout from '../../components/ListLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('travel'))
  // Filter out posts with no 'published_at' date.
  .filter(post => post.data.published_at != null)
  // Sort remaining posts by 'published_at' date.
  .sort((a, b) => {
    const dateA = new Date(a.data.published_at).valueOf();
    const dateB = new Date(b.data.published_at).valueOf();
    return dateB - dateA;
  }
);
---

<!doctype html>
<html lang="en">
<head>
	<style>
		main {
			display: flex;
			justify-content: center;
			/* align-items: flex-start;  */
			flex-direction: column;
			width: 80%; 
			margin: 0 auto;
			margin-top: 6%;
			padding: 3em 1em;
		}
		.title {
			text-align: center;font-weight: bold;
			color: #444;
			margin-top: 0em;
			margin-bottom: 0.6em; /* Giving space between the title and the posts */
			width: 100%;

			/* font-family: 'Bad Script'; */
			/* font-family: 'Zeyada'; */
			/* font-family: 'Dawning of a New Day'; */
			font-family: 'Nothing You Could Do';
			font-size: 4.2em;
		}
	</style>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bad+Script&family=Dawning+of+a+New+Day&family=Julius+Sans+One&family=Junge&family=Montserrat&family=Neucha&family=Nothing+You+Could+Do&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap" rel="stylesheet">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
	<Nav />
	<main>
		<div class="title">Travel Tips</div>
		<ListLayout posts={posts} basePath="travel" />
	</main>
	<Footer />
</body>
</html>