---
// MainLayout.astro
import Nav from '../components/Nav.astro';
---
<html>
<head>
  <!-- your head elements -->
</head>
<body>
  <Nav />
  <slot /> <!-- Where your page content will go -->
</body>
</html>